doctype html
html
  head
    title #{title} | Rockinhood
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      a(class="navbar-brand" href="/") Rockinhood
      div(class="navbar-nav index-nav")
        a(class="nav-item nav-link index-nav__products") Products
        a(class="nav-item nav-link index-nav__learn" href="/learn") Learn
        a(class="nav-item nav-link index-nav__support" href="/support") Support
        a(class="nav-item nav-link index-nav__signin" href="/login") Sign In
        a(class="nav-item nav-link index-nav__signup" href="/signup") Sign Up
    div(class="section1")
        div.section1__text-container
            div.section1__title It's Time to Do Money
            div.section1__text Robinhood, a pioneer of commission-free investing, gives you more ways to make your money work harder.
            a(class="section1__signup" href="/signup") Sign Up
        div.section1__image-container
            //- ToDo place image
    div(class="section2")
        div.section2__title Break Free from Commission Fees
        div.section2__text Make unlimited commission-free trades in stocks, ETFs, and options with Robinhood Financial, as well as buy and sell cryptocurrencies with Robinhood Crypto. See our <a href="/fee-schedule">fee schedule</a> to learn more about cost.
        div.section2__disclosure Commissions Disclosure
    div(class="section3")
        div.section3__text-container
            div.section3__title
            div.section3__
            div.section3__title
        div.section3__image-container
            //- ToDo place image
    div(class="section4")
    div(class="section5")
    div(class="section6")
    div(class="section7")



    h1 Hello world!
